 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <title>User Profile</title>
      <style>


                 .im{
                     margin-left:120px;
                 }
              p{
                        float:left;
                        margin-right:500px;
                        margin-top:11px;
                    }

      </style>



  </head>
  <body>
   <div class="nr fixed-top">
    <div class="nav-right">
        <p>General User</p>
        <a  href="/uhome">Home</a>

        <a  data-toggle="modal" data-target="#mymodal">Covid Test</a>
        <a   href="https://surokkha.gov.bd/">Vaccine Registration</a>
        <a   href="/ubed">Bed</a>
        <a href="/uprofile">Profile</a>
      <a href="/logout">Logout</a>

      </div>
     </div>
<br><br>


    <div class="container" style="margin:auto;max-width:400px">

            <img class="im" src="{{ url_for('static', filename='image/sicon2.jpg')}}" height="150" width="150">

                 <div class="card">
          <div class="card-body">

              <label >Fullname : </label><br>
              <label >Emailadd  :  </label><br>
              <label >Password  : </label><br>


          </div>
                 </div>
            </div>




    <!--Covid test-->



  <div id="mymodal" class="modal fade" role="dialog">

           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h6 class="modal-title">Please insert Data</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">
                       <form  action="" method="POST"  enctype="multipart/form-data">


                          <div class="row">
                            <div class="form-group col">
                                 Name:
                                 <input type="text" class="form-control"  name="Name" required="1">
                           </div>
                            <div class="form-group col">
                                Address:
                                 <input type="number" class="form-control"  name="Address" required="1">
                           </div>
                           </div>



                           <div class="row">
                            <div class="form-group col">
                                 Email:
                                 <input type="email" class="form-control"  name="email" required="1">
                           </div>
                            <div class="form-group col">
                                 Phone:
                                 <input type="tel" class="form-control" pattern="[+]+[8]+[8]+[0]+[1]+[0-9]{9,9}" name="Phone" required="1">
                           </div>
                           </div>
                           <div class="row">

                            <div class="form-group col">
                           Age Group:<br>
                           <select class="custom-select"   name="Age_roup">
                                      <option selected>Age Group</option>
                                        <option>18-25</option>
                                         <option>26-40</option>

                                        <option>41-60</option>
                                      <option>61-80</option>
                           </select></div>

                               <div class="form-group col">
                           Preferred Center:<br>
                           <select class="custom-select"   name="center">
                                      <option selected>Preferred Center</option>
                                        <option>Chittagong Medical College Hospital</option>
                                         <option>Imperial Hospital Limited</option>

                           </select></div>
                              </div>
                               <div class="form-group">

                               Appointment Date:
                               <input type="datetime-local" class="form-control"  name="Appointment" required="1">
                            </div>



                             <br><br>



                           <div class="form-group">
                              <button class="btn btn-primary" type="submit">Insert</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>



                       </form>

</div>


               </div>
           </div>
       </div>






    <script src="static/js/jQuery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
 <script src="static/js/all.min.js"></script>
  </body>
</html>