<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <title>Admin Bed Request</title>
</head>
<style>


                      .d-flex{

                     width:400px;

                 }
                  p{

                        float:left;
                        margin-right:300px;
                        margin-top:11px;
                    }
</style>

<body>


<div class="nr">
    <div class="nav-right">
             <p>Bed Request</p>
        <a href="/ahome">Home</a>
 <div class="dp">
    <button class="dropbtn">Doctor

    </button>
    <div class="dc">
      <a href="/adoctor">Doctor List</a>
      <a href="/dsalary">Salary</a>
    </div>
  </div>

    <div class="dp">
    <button class="dropbtn">Bed</button>
    <div class="dc">
      <a href="/abed">Bed List</a>
      <a href="/abedallotment">Bed Allotment</a>
        <a href="/abedrequest">Bed Request</a>
    </div>
  </div>

        <div class="dp">
    <button class="dropbtn">Patient</button>
    <div class="dc">
       <a href="/acovid">Covid Test</a>
      <a href="/apatient">Patient List</a>
      <a href="/apayment">Payment</a>
    </div>
  </div>

         <div class="dp">
    <button class="dropbtn">Receptionist</button>
    <div class="dc">
      <a href="/areceptionist">Receptionist List</a>
      <a href="/rsalary">Salary</a>
    </div>
  </div>


    <div class="dp">
    <button class="dropbtn">Vaccine</button>
    <div class="dc">
      <a href="/adoze1">Doze 1</a>
      <a href="/adoze2">Doze 2</a>
      <a href="/vaccinated">Vaccinated</a>
    </div>
  </div>

     <div class="dp">
    <button class="dropbtn">Admin</button>
    <div class="dc">
      <a href="/adminprofile">Profile</a>
      <a href="/">Logout</a>

    </div>
  </div>



    </div>
</div>


<br>



  <form class="d-flex m-auto">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>


 <div class="container">

     <br>
      <div class="table-responsive-sm">
             <table class="table table-sm thead-light table-hover table-striped">
             <tr>

               <th>Patient_id</th>
                 <th>Patient_name</th>
                  <th>Bed_id</th>
                 <th>Condition</th>
                 <th>Approval</th>
                 <th>Action</th>


           </tr>

              <tr>
                    <td>sss</td>
                    <td>sss</td>
                    <td>ddd</td>
                    <td>ddd</td>
                   <td>ddd</td>



                  <td>

                       <a href="" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modaledit">Accept</a>

                       <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete?')">Reject</a>
                  </td>


              </tr>

             </table>
           </div>






   <!--Patient Accept-->


             <div id="modaledit" class="modal fade" role="dialog">

           <div class="modal-dialog modal-xl">
               <div class="modal-content">
                   <div class="modal-header">
                        <h6 class="modal-title">Please Update Data</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">
                       <form    action="" method="POST"   enctype="multipart/form-data">

                            <div class="form-group ">
                                 <input type="hidden" class="form-control"  name="Patient_id" value="">
                           </div>





                           <div class="row">
                            <div class="form-group col">
                                Patients Name:
                                <input type="text"   class="form-control"    name="Patient_name"  required="1">
                           </div>

                           <div class="form-group col">
                               Phone:
                               <input type="tel"   class="form-control" pattern="[+]+[8]+[8]+[0]+[1]+[0-9]{9,9}" name="Phone"  required="1">
                           </div>

                           </div>

                          <div class="row">
                            <div class="form-group col">
                                Relatives Name:
                                <input type="text"   class="form-control"   name="Patient_name"  required="1">
                           </div>

                           <div class="form-group col">
                               Relatives Phone:
                               <input type="tel"   class="form-control" pattern="[+]+[8]+[8]+[0]+[1]+[0-9]{9,9}" name="Phone"  value=" ">
                           </div>

                           </div>

                            <div class="row">
                            <div class="form-group col">
                                Address:
                                <input type="text"   class="form-control"   name="Address"  required="1">
                           </div>

                           <div class="form-group col">
                               Prior Ailments:
                                <input type="text"   class="form-control"   name="ailment"  required="1">
                                 </div>

                           </div>

                           <div class="row">

                            <div class="form-group col">
                                Date:
                                <input type="datetime-local"   class="form-control"   name="date"  required="1">
                           </div>

                           <div class="form-group col">
                               Bed No:
                                <input type="number"   class="form-control"   name="Bed_id"  required="1"><!--selector-->
                                 </div>

                           </div>

                           <div class="row">
                            <div class="form-group col">
                               Condition:

                                <select class="custom-select"   name="Bed_category">
                                      <option selected>Condition</option>
                                        <option>Critical</option>
                                         <option>Recovered</option>
                                    <option>Recovering</option>
                                    <option>Discharge</option>
                                      <option>Death</option>
                                 </select>
                           </div>

                           <div class="form-group col">
                               Assigned Doctor:
                                <input type="text"   class="form-control"   name="Doctor_name"  required="1"><!--selector-->
                                 </div>

                           </div>

                           <div class="form-group">
                               Approval:

                                <select class="custom-select"   name="Approval">
                                      <option selected>Approval</option>
                                        <option>Accepted</option>
                                        <option>Rejected</option>
                                 </select>
                           </div>

                           <br><br>




                            <div class="form-group">
                              <button class="btn btn-primary" type="submit">Accept</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>



                       </form>


                   </div>

               </div>
           </div>
       </div>





</div>



      <script src="static/js/jQuery.js"></script>
       <script src="static/js/bootstrap.min.js"></script>
       <script src="static/js/all.min.js"></script>
</body>
</html>