<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <title>Admin Doze1</title>
</head>
<style>


                 .d-flex{

                     width:400px;

                 }
                  p{

                        float:left;
                        margin-right:300px;
                        margin-top:11px;
                    }
</style>

<body>


<div class="nr">
    <div class="nav-right">
             <p>Doze1</p>
        <a href="/ahome">Home</a>
 <div class="dp">
    <button class="dropbtn">Doctor

    </button>
    <div class="dc">
      <a href="/adoctor">Doctor List</a>
      <a href="/dsalary">Salary</a>
    </div>
  </div>

    <div class="dp">
    <button class="dropbtn">Bed</button>
    <div class="dc">
      <a href="/abed">Bed List</a>
      <a href="/abedallotment">Bed Allotment</a>
        <a href="/abedrequest">Bed Request</a>
    </div>
  </div>

        <div class="dp">
    <button class="dropbtn">Patient</button>
    <div class="dc">
        <a href="/acovid">Covid Test</a>
      <a href="/apatient">Patient List</a>
      <a href="/apayment">Payment</a>
    </div>
  </div>

         <div class="dp">
    <button class="dropbtn">Receptionist</button>
    <div class="dc">
      <a href="/areceptionist">Receptionist List</a>
      <a href="/rsalary">Salary</a>
    </div>
  </div>


    <div class="dp">
    <button class="dropbtn">Vaccine</button>
    <div class="dc">
      <a href="/adoze1">Doze 1</a>
      <a href="/adoze2">Doze 2</a>
      <a href="/vaccinated">Vaccinated</a>
    </div>
  </div>

     <div class="dp">
    <button class="dropbtn">Admin</button>
    <div class="dc">
      <a href="/adminprofile">Profile</a>
      <a href="/logout">Logout</a>

    </div>
  </div>



    </div>
</div>



<br>



   <form class="d-flex m-auto w-80" method="post" action="/searchdoze1" style="margin:auto;max-width:600px">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="doze1">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>



                <button type="button" style="margin:5px;" class=" btn btn-primary float-right" data-toggle="modal" data-target="#mymodal">Add Doze1</button><br>

                   {%with messages = get_flashed_messages() %}
             {%if messages%}
             {%for message in messages%}
             <div class="alert alert-success alert-dismissable w-75" role="alert">
                  <button type="button" class="close " data-dismiss="alert" aria-label="close">
                      <span aria-hidden="true">x</span>
                  </button>
                  {{message}}
              </div>

             {%endfor%}
             {%endif%}
             {%endwith%}
      <div class="table-responsive-sm">
             <table class="table table-sm thead-light table-bordered table-hover table-striped">
             <tr>

               <th>ID</th>
                 <th>Name</th>
                 <th>Address</th>
                 <th>NID</th>
                 <th>Phone No</th>
                 <th>Age Group</th>

                 <th>Allergies</th>
                <th>Prior Ailments</th>
                  <th>Doze Name</th>
                 <th>Appointment Date</th>
                 <th>Doze1</th>

                 <th>Action</th>


           </tr>

              {%for data in adoze1%}
              <tr>
                     <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                    <td>{{data.3}}</td>
                    <td>{{data.4}}</td>
                    <td>{{data.5}}</td>
                    <td>{{data.6}}</td>
                   <td>{{data.7}}</td>
                    <td>{{data.8}}</td>
                    <td>{{data.9}}</td>
                    <td>{{data.10}}</td>

                  <td>

                       <a href="/updatedoze1/{{data.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{data.0}}">Edit</a>

                       <a href="/deletedoze1/{{data.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
            </td>


              </tr>




   <!--Doze1 Edit-->


             <div id="modaledit{{data.0}}" class="modal fade" role="dialog">

           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h6 class="modal-title">Please Update Data</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">
                       <form    action="updatedoze1" method="POST"   enctype="multipart/form-data">

                            <div class="form-group">
                                 <input type="hidden" class="form-control"  name="id" value="{{data.0}}">
                           </div>
                             <div class="row">
                            <div class="form-group col">
                                 Name:
                                 <input type="text" class="form-control"  name="Name" value="{{data.1}}">
                           </div>
                            <div class="form-group col">
                                Address:
                                 <input type="text" class="form-control"  name="Address" value="{{data.2}}">
                           </div>
                           </div>

                            <div class="row">
                            <div class="form-group col">
                                 NID:
                                 <input type="text" class="form-control"  name="nid" value="{{data.3}}">
                           </div>
                            <div class="form-group col">
                                 Phone:
                                 <input type="tel" class="form-control" pattern="[+]+[8]+[8]+[0]+[1]+[0-9]{9,9}" name="Phone" value="{{data.4}}">
                           </div>
                           </div>


                           <div class="row">
                                  <div class="form-group">
                                      <input type="hidden" class="form-control"  name="age_group" value="{{data.5}}" >
                                </div>
                            <div class="form-group col">
                           Age Group:<br>
                           <select class="custom-select"   name="Age_group">
                                      <option selected>Age Group</option>
                                        <option>18-25</option>
                                         <option>26-40</option>

                                        <option>41-60</option>
                                      <option>61-80</option>
                           </select></div>


                                <div class="form-group">
                                      <input type="hidden" class="form-control"  name="allergies" value="{{data.6}}" >
                                </div>
                            <div class="form-group col">

                               Allergies:
                               <select class="custom-select"   name="Allergies">
                                      <option selected>Allergies</option>
                                        <option>Yes</option>
                                         <option>No</option>
                               </select></div>

                           </div>
                           <div class="row">
                                <div class="form-group">
                                      <input type="hidden" class="form-control"  name="ailments" value="{{data.7}}" >
                                </div>
                           <div class="form-group col">

                               Prior Ailments:
                               <select class="custom-select"   name="Ailments">
                                      <option selected>Prior Ailments</option>
                                        <option>Yes</option>
                                         <option>No</option>
                               </select></div><br><br>


                                   <div class="form-group">
                                      <input type="hidden" class="form-control"  name="doze" value="{{data.8}}" >
                                </div>
                                 <div class="form-group col">

                               Doze:
                               <select class="custom-select"   name="Doze">
                                        <option selected>Doze Name</option>
                                        <option>Vero Cell</option>
                                         <option>Moderna</option>
                                         <option>Pfizer</option>
                                         <option>Sinopharm</option>
                               </select></div>

                           </div>



                                   <div class="row">

                            <div class="form-group col">
                                 Appointment Date:
                                 <input type="date" class="form-control"  name="Date" value="{{data.9}}">
                           </div>

                                       <div class="form-group">
                                      <input type="hidden" class="form-control"  name="doze1" value="{{data.10}}" >
                                </div>
                            <div class="form-group col">
                                Doze1:
                                 <select class="custom-select"   name="Doze1" >
                                      <option selected>Doze1</option>
                                        <option>Taken</option>
                                         <option>Not Taken</option>

                               </select>
                           </div>
                              </div>






                            <div class="form-group">
                              <button class="btn btn-primary" type="submit">Update</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>



                       </form>


                   </div>

               </div>
           </div>
       </div>
  {%endfor%}
             </table>
           </div>




  <!--Add Doze1-->



  <div id="mymodal" class="modal fade" role="dialog">

           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h6 class="modal-title">Please insert Data</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">
                       <form  action="insertdoze1" method="POST"  enctype="multipart/form-data">


                          <div class="row">
                            <div class="form-group col">
                                 Name:
                                 <input type="text" class="form-control"  name="Name" required="1">
                           </div>
                            <div class="form-group col">
                                Address:
                                 <input type="text" class="form-control"  name="Address" required="1">
                           </div>
                           </div>



                           <div class="row">
                            <div class="form-group col">
                                 NID:
                                 <input type="text" class="form-control"  name="nid" required="1">
                           </div>
                            <div class="form-group col">
                                 Phone:
                                 <input type="tel" class="form-control" pattern="[+]+[8]+[8]+[0]+[1]+[0-9]{9,9}" name="Phone" required="1">
                           </div>
                           </div>
                           <div class="row">

                            <div class="form-group col">
                           Age Group:<br>
                           <select class="custom-select"   name="Age_group">
                                      <option selected>Age Group</option>
                                        <option>18-25</option>
                                         <option>26-40</option>

                                        <option>41-60</option>
                                      <option>61-80</option>
                           </select></div>


                            </div>

                            <div class="row">
                            <div class="form-group col">

                               Allergies:
                               <select class="custom-select"   name="Allergies">
                                      <option selected>Allergies</option>
                                        <option>Yes</option>
                                         <option>No</option>
                               </select></div><br><br>
                           <div class="form-group col">

                               Prior Ailments:
                               <select class="custom-select"   name="Ailments">
                                      <option selected>Prior Ailments</option>
                                        <option>Yes</option>
                                         <option>No</option>
                               </select></div><br><br>
                            </div>


                           <div class="form-group">

                               Doze:
                               <select class="custom-select"   name="Doze">
                                      <option selected>Doze Name</option>
                                        <option>Vero Cell</option>
                                         <option>Moderna</option>
                                         <option>Pfizer</option>
                                         <option>Sinopharm</option>
                               </select></div>


                            <div class="form-group">
                                 Appointment Date:
                                 <input type="date" class="form-control"  name="Date" required="1">
                           </div>


                           <div class="form-group">
                              <button class="btn btn-primary" type="submit">Insert</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>



                       </form>

</div>


               </div>
           </div>
       </div>



      <script src="static/js/jQuery.js"></script>
       <script src="static/js/bootstrap.min.js"></script>
       <script src="static/js/all.min.js"></script>
</body>
</html>