<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <title>Admin Patients Payment</title>
</head>
<style>


                 .d-flex{

                     width:400px;

                 }
                  p{

                        float:left;
                        margin-right:300px;
                        margin-top:11px;
                    }
</style>

<body>


<div class="nr">
    <div class="nav-right">
             <p>Payment</p>
        <a href="/ahome">Home</a>
<div class="dp">
    <button class="dropbtn">Doctor

    </button>
    <div class="dc">
      <a href="/adoctor">Doctor List</a>
      <a href="/dsalary">Salary</a>
    </div>
  </div>

    <div class="dp">
    <button class="dropbtn">Bed</button>
    <div class="dc">
      <a href="/abed">Bed List</a>
      <a href="/abedallotment">Bed Allotment</a>
        <a href="/abedrequest">Bed Request</a>
    </div>
  </div>

        <div class="dp">
    <button class="dropbtn">Patient</button>
    <div class="dc">
        <a href="/acovid">Covid Test</a>
      <a href="/apatient">Patient List</a>
      <a href="/apayment">Payment</a>
    </div>
  </div>

         <div class="dp">
    <button class="dropbtn">Receptionist</button>
    <div class="dc">
      <a href="/areceptionist">Receptionist List</a>
      <a href="/rsalary">Salary</a>
    </div>
  </div>


    <div class="dp">
    <button class="dropbtn">Vaccine</button>
    <div class="dc">
      <a href="/adoze1">Doze 1</a>
      <a href="/adoze2">Doze 2</a>
      <a href="/vaccinated">Vaccinated</a>
    </div>
  </div>

     <div class="dp">
    <button class="dropbtn">Admin</button>
    <div class="dc">
      <a href="/adminprofile">Profile</a>
      <a href="/logout">Logout</a>

    </div>
  </div>



    </div>
</div>



<br>



  <form class="d-flex m-auto w-80" method="post" action="/searchpp" style="margin:auto;max-width:600px">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="Payment">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>


 <div class="container">

                <button type="button" style="margin:5px;" class=" btn btn-primary float-right" data-toggle="modal" data-target="#mymodal">Add Payment</button><br>
             {%with messages = get_flashed_messages() %}
             {%if messages%}
             {%for message in messages%}
             <div class="alert alert-success alert-dismissable w-75" role="alert">
                  <button type="button" class="close " data-dismiss="alert" aria-label="close">
                      <span aria-hidden="true">x</span>
                  </button>
                  {{message}}
              </div>

             {%endfor%}
             {%endif%}
             {%endwith%}

      <div class="table-responsive-sm">
             <table class="table table-sm thead-light table-hover table-striped">
             <tr>

                 <th>Payment_no</th>
                 <th>Patient_id</th>
                 <th>Patient_name</th>
                 <th>Total Amount</th>
                 <th>Deposit</th>
                 <th>Due Amount</th>
                 <th>Date</th>
                 <th>Action</th>


           </tr>

              {%for data in apayment%}
              <tr>
                     <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                    <td>{{data.3}}</td>
                    <td>{{data.4}}</td>
                   <td>{{data.5}}</td>
                   <td>{{data.8}}</td>
                  <td>



                       <a href="/updatepp/{{data.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{data.0}}">Edit</a>

                        <a href="/view_payment/{{data.0}}" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalview{{data.0}}">Print</a>


                       <a href="/deletepp/{{data.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete?')">Delete</a>

                  </td>


              </tr>



         <!--Print-->
                 <div id="modalview{{data.0}}" class="modal fade"  role="dialog">

           <div class="modal-dialog modal-lg">
               <div class="modal-content" >
                   <div class="modal-header">
                        <h6 class="modal-title">Bill Details</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body" >
                           <div class="mm"  id="print">
                              <center> <h4>{{data.7}}</h4><br>
                                <h5>Hospital Bill</h5><br>
                                  <h6>Date: {{data.8}}</h6><br> </center>
                                <h6>Receipt NO: {{data.0}}</h6><br>
                                <h6>Patient ID: {{data.1}}</h6><br>
                               <h6>Patient Name: {{data.2}}</h6><br>
                                 <h6>Total Amount:{{data.3}}</h6>
                                 <h6>Paid:{{data.4}}</h6>
                           </div>
                                <script>
                                   function myfun(paravalue){
                                    var backup=document.body.innerHTML;
                                        var divcontent=document.getElementById(paravalue).innerHTML;
                                            document.body.innerHTML=divcontent;
                                           window.print();
                                             document.body.innerHTML=backup;
                                            }
                                     </script>



                             <button class="btn btn-success btn-xs" onclick="myfun('print')">Print</button>

                   </div>


               </div>
           </div>
       </div>





   <!--Payment Edit-->


             <div id="modaledit{{data.0}}" class="modal fade" role="dialog">

           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h6 class="modal-title">Please Update Data</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">
                       <form    action="updatepp" method="POST"   enctype="multipart/form-data">

                            <div class="form-group">
                                 <input type="hidden" class="form-control"  name="Payment_no" value="{{data.0}}">
                           </div>

                           <div class="form-group">
                               Patient ID:
                                 <input type="number" class="form-control"  name="Patient_id" value="{{data.1}}">
                           </div>

                           <div class="form-group">
                                Patients Name:
                                <input type="text"   class="form-control"    name="Patient_name"  value="{{data.2}}">
                           </div>

                           <div class="form-group">
                               Total Amount:
                                 <input type="number" class="form-control"  name="Total_amount" value="{{data.3}}">
                           </div>



                           <div class="form-group">
                               Deposit:
                                 <input type="number" class="form-control"  name="Deposit" value="{{data.4}}">
                           </div>

                           <div class="form-group">
                               Due Amount:
                                 <input type="number" class="form-control"  name="Due_amount" value="{{data.5}}">
                           </div>

                            <div class="form-group">
                              <button class="btn btn-primary" type="submit">Update</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>


                       </form>


                   </div>

               </div>
           </div>
       </div>

                  {%endfor%}
             </table>
           </div>


  <!--Add Bed-->



  <div id="mymodal" class="modal fade" role="dialog">

           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h6 class="modal-title">Please insert Data</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">
                       <form  action="insertpp" method="POST"  enctype="multipart/form-data">


                                            <div class="form-group">
                              Patient ID:
                                 <select class="custom-select"   name="Patient_id">
                               {% for row in patient %}
                                   <option value="{{row.0}}">{{row.0}}</option>
                               {% endfor %}

                           </select>
                           </div>

                            <div class="form-group">

                                Patient Name:
                                 <select class="custom-select"   name="Patient_name">
                               {% for row in patient %}
                                   <option value="{{row.1}}">{{row.1}}</option>
                               {% endfor %}

                           </select>
                           </div>
                           <div class="form-group">

                                 <input type="number"  placeholder="Total Amount" class="form-control"  name="Total_amount" required="1">
                           </div>



                           <div class="form-group">

                                 <input type="number"  placeholder="Deposit" class="form-control"  name="Deposit" required="1">
                           </div>

                           <div class="form-group">

                                 <input type="number"  placeholder="Due Amount" class="form-control"  name="Due_amount" required="1">
                           </div>
                            <div class="form-group">

                                 <input type="date"  placeholder="Date" class="form-control"  name="Date" required="1">
                           </div>

                           <div class="form-group">
                              <button class="btn btn-primary" type="submit">Insert</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>



                       </form>

</div>


               </div>
           </div>
       </div>


</div>


      <script src="static/js/jQuery.js"></script>
       <script src="static/js/bootstrap.min.js"></script>
       <script src="static/js/all.min.js"></script>

</body>
</html>