<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <title>Admin-Doctor salary</title>
</head>
<style>


                      .d-flex{

                     width:400px;

                 }
                  p{

                        float:left;
                        margin-right:300px;
                        margin-top:11px;
                    }
</style>

<body>


<div class="nr">
    <div class="nav-right">
             <p>Salary</p>
        <a href="/ahome">Home</a>
  <div class="dp">
    <button class="dropbtn">Doctor

    </button>
    <div class="dc">
      <a href="/adoctor">Doctor List</a>
      <a href="/dsalary">Salary</a>
    </div>
  </div>

    <div class="dp">
    <button class="dropbtn">Bed</button>
    <div class="dc">
      <a href="/abed">Bed List</a>
      <a href="/abedallotment">Bed Allotment</a>
        <a href="/abedrequest">Bed Request</a>
    </div>
  </div>

        <div class="dp">
    <button class="dropbtn">Patient</button>
    <div class="dc">
      <a href="/apatient">Patient List</a>
      <a href="/apayment">Payment</a>
    </div>
  </div>

         <div class="dp">
    <button class="dropbtn">Receptionist</button>
    <div class="dc">
      <a href="/areceptionist">Receptionist List</a>
      <a href="/rsalary">Salary</a>
    </div>
  </div>


    <div class="dp">
    <button class="dropbtn">Vaccine</button>
    <div class="dc">
      <a href="/adoze1">Doze 1</a>
      <a href="/adoze2">Doze 2</a>
      <a href="/vaccinated">Vaccinated</a>
    </div>
  </div>

     <div class="dp">
    <button class="dropbtn">Admin</button>
    <div class="dc">
      <a href="/adminprofile">Profile</a>
      <a href="/">Logout</a>

    </div>
  </div>



    </div>
</div>




<br>



  <form class="d-flex m-auto">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>


 <div class="container">
       <br>
      <div class="table-responsive-sm">
             <table class="table table-sm thead-light table-hover table-striped">
             <tr>

               <th>Doctor_id</th>
                 <th>Doctor_name</th>
                 <th>Last Paid</th>
                 <th>Salary</th>

                 <th>Action</th>


           </tr>

              <tr>
                    <td>sss</td>
                    <td>sss</td>
                    <td>ddd</td>
                    <td>ddd</td>


                  <td>

                       <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaledit">Salary</a>

                       <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
                  </td>


              </tr>

             </table>
           </div>






   <!--Doctor Salary Edit-->


             <div id="modaledit" class="modal fade" role="dialog">

           <div class="modal-dialog modal-xl">
               <div class="modal-content">
                   <div class="modal-header">

                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">
                       <div class="container">
                         <div class="row">
                           <div class="col md-2">

                       <button type="button" style="margin:5px;" class=" btn btn-primary float-right" data-toggle="modal" data-target="#mymodal">Add Salary</button><br>


                   <div class="table-responsive-sm">
             <table class="table table-sm table-hover  table-bordered  table-stripped">
             <tr>

               <th>Sr.No</th>
                  <th>Doctor_id</th>
                 <th>Month</th>

                 <th>Salary</th>
                 <th>Paid Date</th>
                 <th>Action</th>


           </tr>

              <tr>
                    <td>sss</td>
                    <td>sss</td>
                    <td>ddd</td>
                    <td>ddd</td>
                   <td>sss</td>

                  <td>
                      <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
                  </td>


              </tr>

             </table>
           </div>



  <!--Add Salary-->
                       <div id="mymodal" class="modal fade" role="dialog">

           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h6 class="modal-title">Please insert Data</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">

                       <form  action="" method="POST"  enctype="multipart/form-data">
                            Doctor id:
                           <div class="form-group">

                               <input type="number"   class="form-control" name="Doctor_id" value="">
                           </div>

                           Month:
                           <div class="form-group">

                               <input type="month"   class="form-control" name="Month" required="1">
                           </div>

                          Salary:
                          <div class="form-group">

                               <input type="number"    class="form-control" name="Salary" required="1">
                           </div>

                           Paid Date:
                          <div class="form-group">

                               <input type="datetime-local"   class="form-control" name="Paid_date" required="1">
                           </div>
                             <br>

                           <div class="form-group">
                              <button class="btn btn-primary" type="submit">Insert</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>



                       </form>

</div>


               </div>
           </div>
       </div>

<!--End Add Salary-->





            </div>
            </div>
                       </div>


                   </div>

               </div>
           </div>
       </div>

<!--End Doctor Salary Edit-->



 </div>


      <script src="static/js/jQuery.js"></script>
       <script src="static/js/bootstrap.min.js"></script>
       <script src="static/js/all.min.js"></script>
</body>
</html>