<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <title>Receptionists-Vaccinated</title>

<style>

                 .d-flex{

                     width:400px;

                 }
                 p{

                        float:left;
                        margin-right:500px;
                        margin-top:11px;
                    }

   </style>



</head>
<body>

<div class="nr">
    <div class="nav-right">
         <p>Vaccinated</p>
  <a href="/rhome">Home</a>
  <a href="/rdoctor">Doctor</a>
  <div class="dp">
    <button class="dropbtn">Bed </button>
    <div class="dc">
      <a href="/rbed">Bed List</a>
      <a href="/rbedallotment">Bed Allotment</a>

    </div>
  </div>

    <div class="dp">
    <button class="dropbtn">Patient </button>
    <div class="dc">
      <a href="/rpatient">Patient List</a>
      <a href="/rpayment">Payments</a>
    </div>
  </div>


    <div class="dp">
    <button class="dropbtn">Vaccine </button>
    <div class="dc">
      <a href="/rdoze1">Doze 1</a>
      <a href="/rdoze2">Doze 2</a>
      <a href="/rvaccinated">Vaccinated</a>
    </div>
  </div>

     <div class="dp">
    <button class="dropbtn">Receptionist </button>
    <div class="dc">
      <a href="/rprofile">Profile</a>
      <a href="/">Logout</a>

    </div>
  </div>
    </div>
</div>




<br>



  <form class="d-flex m-auto">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>

    <div class="container">
       <br>


      <div class="table-responsive-sm">
             <table class="table table-sm thead-light table-bordered table-hover table-striped">
             <tr>

               <th>ID</th>
                 <th>Name</th>
                 <th>Address</th>
                 <th>NID</th>
                 <th>Phone</th>
                 <th>Age Group</th>
                 <th>Allergies</th>
                <th>Ailments</th>
                 <th>Appointment1</th>
                 <th>Doze1</th>
                 <th>Appointment2</th>
                  <th>Doze2</th>
                 <th>Vaccinated</th>


           </tr>

              <tr>
                    <td>sss</td>
                    <td>sss</td>
                    <td>ddd</td>
                     <td>ddd</td>
                   <td>sss</td>
                    <td>sss</td>
                    <td>ddd</td>
                     <td>ddd</td>
                    <td>sss</td>
                    <td>ddd</td>
                    <td>ddd</td>
                  <td>ddd</td>
                  <td>ddd</td>

              </tr>

             </table>
           </div>






            </div>


      <script src="static/js/jQuery.js"></script>
       <script src="static/js/bootstrap.min.js"></script>
       <script src="static/js/all.min.js"></script>
</body>
</html>