<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Services</title>
    <style>

        .bg-i{
              background:skyblue;
              }

                  .co{
                     margin-top:60px;
                  }



                  .ser{
                         width:700px;
                         height:240px;
                         margin-top:40px;
                  }
                  h3{
                    color:red;
                    padding-top:10px;
                  }
                  h5{
                     margin-top:20px;
                     padding-bottom:10px;

                  }
                 h6{
                       color:green;
                       text-align:left;
                       margin-left:20px;
                 }
                 .p-3{
                       width:500px;
                       height:300px;
                 }
                 .col-6{
                    padding-top:8px;
                    padding-bottom:8px;
                 }
                 i{
                  color:green;
                 }
                 p{
                        font-size:20px;
                        float:left;
                        margin-right:600px;
                        margin-top:11px;
                    }




    </style>
</head>
<body>
<center>
 <nav>

    <div class="nr">

    <div class="nav-right">
        <p>Services</p>
        <a  href="/">Home</a>

        <a   href="/about">About</a>

        <a  href="/portfolio">Portfolio</a>

        <a  href="/services">Services</a>

        <div class="dp">
       <button class="dropbtn">Login

       </button>
      <div class="dc">
      <a href="/alogin">Superadmin</a>
      <a href="/alogin">Admin</a>
      <a href="/rlogin">Receptionist</a>
        <a href="/ulogin">User</a>
      </div>
     </div>
     <a class="nav-link text-dark" href="/contact">Contact</a>

    </div>
    </div>
   </nav>


    <h5>We have many services.But during this pandemic situation we are emphasizing only on covid-19 patients and vaccination</h5>
    <div class="ser border bg-light">
           <h5>Our 24/7 Hours Services</h5>
        <h6>*Central Sterile Supply Department&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Pharmacy Services</h6>
        <h6 >*Ambulance Services&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Lab Medicine</h6>
        <h6>*Transfusion Medicine and Blood bank&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Hospitality Services</h6>
      <h6>*Radiology and Imaging&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Dialysis</h6>
        <h6>*Nutrition and Diet Management&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Information Technology</h6>
        <h6>*Emergency Services</h6>
    </div>
   <h3>Coronavirus(COVID-19)</h3>
   <h5>Please continue to follow all of the infection prevention and control measures in place across our hospitals.</h5><br>
    <h5>See our latest information and guidance on coronavirus</h5>
    <div class="co">
    <div class="container">
  <div class="row">
    <div class="col-6">
      <div class="p-3 border bg-light"><i>Coronavirus latest information</i><br>
          <h4 class="text-dark" style="font-size:10px">While most Covid-19 restrictions ended on 19 July, IHL safety measures remain in place. As patients and healthcare staff are more at risk from Covid-19, we need to do more to keep everyone safe.Please continue to follow all of the infection prevention and control measures in place across our hospitals. This includes, for everyone:

do not come into hospital if you’re experiencing any symptoms of Covid-19 (unless emergency attention is needed)
use hand sanitiser or wash your hands as you enter the hospital and when entering or leaving wards, clinics and units
wear a face mask at all times within the hospital unless you are exempt
keep two metres apart from others
follow any one-way route signs
About one in three people with Covid-19 do not have symptoms but can still spread the virus. By continuing to follow the measures above, you are helping us to reduce the spread of infection.

Vaccination is clearly having a significant impact on limiting more serious illness and hospital admissions and so we continue to urge everyone who is eligible to take up both doses of an appropriate vaccine. However, you still need to follow all of our Covid-19 infection prevention and control measures, even if you have been vaccinated.<b>Urgent and emergency care during Covid-19
If you have a serious or life-threatening emergency, call 999.
If you need urgent medical care or advice and it is not a life-threatening emergency, or if you don’t know who to contact, call IHL 111.
If you are told by IHL 111 or your GP to go to hospital or to an urgent treatment centre it is important that you do so. The IHL 111 First service can book you a timed slot in a specific A&E department or urgent treatment centre, if required, to avoid a long wait on site.
If you need medical care or advice from your GP practice, contact them, either online, via an app or by phone first – they will assess your needs and let you know what to do. </b></h4></div>


    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">  <i>COVID-19 Vaccination</i> <br>
           <h4 class="text-dark" style="font-size:10px">We are currently vaccinating only a very few patients in our hospitals. There are a number of reasons why this is the case:

It’s really important to keep a careful track of patients who have had a first dose of vaccine – so that we can make sure they get their second dose at the right time, and with the same type of vaccine. As most of our patients are in hospital for a relatively short amount of time, this is much better done as part of the public vaccination programme in the community.
To respond to a high number of patients with Covid-19, we are currently focusing almost entirely on urgent and emergency care, with all but time-critical planned care postponed. Therefore, many of our inpatients are not be well enough to be vaccinated. As soon as they are medically fit to be discharged from hospital, patients will go home or to a community-based facility, such as a care home, where they will be offered the vaccine if they are in a priority group.
We currently have supplies of the Pfizer/BioNTech vaccine which has very specific storage requirements, creating logistical challenges for on-site distribution. Currently, we are able to provide the vaccine primarily from one building at St Mary’s Hospital.
We are developing plans to roll out vaccines to some priority and vulnerable patients who have to attend hospital frequently, such as dialysis patients, or who are likely to be in hospital for several weeks. We are already able to offer the Oxford/AstraZeneca vaccine to regular patients in one of our renal dialysis units and we are working to expand to other units as quickly as possible.

If you are a patient regularly attending one of our hospitals or clinics, and you receive an invitation to be vaccinated in the community, please take up that offer. You should not wait to find out if and when we are able to offer you a vaccine. However, if we are able to offer you a vaccine before you are offered a vaccine in the community, please take up our offer and we will also make sure you get your second dose when it is needed.</h4>
     </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
          <i>Your stay in hospital</i><br>
          <h4 class="text-dark" style="font-size:10px">You may be concerned about being in the same hospital as patients being treated for coronavirus, if you do not have the virus yourself. However, we would like to reassure you we are doing everything we can to separate patients with coronavirus and those who are being treated for other conditions. Our staff are also following the most up to date advice on infection control.

The safety of our patients and staff is our priority so all patients are tested for coronavirus when admitted to one of our hospitals, even if you have no symptoms. The test may be done before you come to hospital, when you are admitted or during your stay.

If you test positive for coronavirus, it does not mean that you will become unwell with the symptoms. We will monitor you closely to check if you develop symptoms during
your stay. You may be moved to a different ward or clinical area and asked to wear a surgical mask to prevent the spread of coronavirus to other patients and staff.

Some tests and procedures may be postponed if you test positive for coronavirus. Speak to your clinical team if you are concerned about this.

We have developed a leaflet to help guide you through some of the changes we've made for inpatients in response to the coronavirus pandemic. Download our leaflet to learn more changes we've made to the way we run our hospitals and what you can expect from your inpatient stay.</h4>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
          <i>Before Your Stay</i> <br>
           <h4 class="text-dark" style="font-size:10px">Before coming to hospital for a planned procedure or for surgery, and any time you visit hospital you will need to complete a Covid-19 checklist. Depending on the procedure or surgery you are coming in for you will be asked to self-isolate and three days before your planned surgery or procedure you will be asked to have a Covid-19 test. All patients, and their carers, need to wear face coverings at all times while in hospital and observe social/physical distancing rules.In order to respond to the demand for care for Covid-19 and other urgent and emergency conditions, we had to postpone all but time-critical planned care since the new year. As we emerge from the second wave of Covid-19, we are beginning to re-start all of our planned services, prioritising patients with the greatest clinical need.

If you are a patient and your procedure was postponed or you are waiting for an appointment or a date for treatment, we will contact you directly as soon as we are able.

If you are worried about your health, or if your condition deteriorates, you should contact your GP or call IHL 111 for urgent care.In order to respond to the demand for care for Covid-19 and other urgent and emergency conditions, we had to postpone all but time-critical planned care since the new year. As we emerge from the second wave of Covid-19, we are beginning to re-start all of our planned services, prioritising patients with the greatest clinical need.

If you are a patient and your procedure was postponed or you are waiting for an appointment or a date for treatment, we will contact you directly as soon as we are able.</h4>
              </div>
    </div>

      <div class="col-6">
      <div class="p-3 border bg-light">
          <i>What to Bring to hospital</i> <br>
           <h4 class="text-dark" style="font-size:10px">If you are coming to stay in hospital either overnight or as a day patient, please bring with you:

A face covering to wear when arrive at the hospital
Your address and phone number
Your admission letter and appointment card
The name, address and phone number of your GP
A list of any medication you are taking, including non-prescription medicines and inhalers
Up-to-date details of your next of kin or emergency contact details
Payment for any prescriptions, or an exemption card
Toiletries if you are staying overnight
You may also want to bring:

A toothbrush, toothpaste and soap, tissues
A hairbrush or comb
Any glasses, hearing aids or dentures that you wear
Manual or cordless razor and shaving foam
Contact phone numbers for your relatives, friends and carers
Things to do, such as reading material, writing material, a personal music player, a mobile or tablet device if you have one (must be used with headphones)
Please don’t bring:

Valuables or large sums of money
Large items — you will only have a small bedside cupboard to store your belongings in
An alarm clock — this may disturb other patients</h4>
              </div>
    </div>
      <div class="col-6">
      <div class="p-3 border bg-light">
          <i>Getting To Hospital</i> <br>
           <h4 class="text-dark" style="font-size:10px">We advise giving yourself plenty of time to get to hospital and to find where you need to go.

Avoid public transport duringthe Covid-19 pandemic and wear a face covering while travelling, whether you use hospital transport, a family car or a taxi
You may be asked to use a particular car park and hospital entrance, so please check your clinic letter for details on where to go when you arrive.
Find out about the different ways you can travel to each of our hospital sites
Read more about hospital transport and whether you are eligible<b>In an emergency: when to call 999 or go to A&E
Always call 999 immediately if you or somebody else has a life-threatening injury or illness. An ambulance crew will begin treating you as soon as they arrive and they will then take you to the most appropriate place for your condition, this could be A&E, a specialist centre or an urgent care centre (UCC).

All A&E departments use a priority system where the most seriously ill patients are seen first. In A&E you will be seen by specialist doctors and nurses who are trained to manage life-threatening injuries and illnesses.</b></h4>
              </div>
    </div>

  </div>
</div>
    </div>
</center>

<script src="static/js/jQuery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
 <script src="static/js/all.min.js"></script>
</body>
</html>