<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Superadmin-Profile</title>
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <style>

                 .im{
                     margin-left:120px;
                 }
             p{
                        float:left;
                        margin-right:500px;
                        margin-top:11px;
                    }

   </style>



</head>
<body>




     <div class="nr">
    <div class="nav-right">
         <p>Your Profile</p>
        <a  href="/shome">Home</a>

        <a  href="/shospital">Hospital</a>


        <a  href="/hospitalrequest">Hospital Request</a>




      <div class="dp">
       <button class="dropbtn">Profile

       </button>
      <div class="dc">
      <a href="/sprofile">Profile</a>
      <a href="/">Logout</a>

      </div>
     </div>


    </div>
    </div>



<br><br><br>

    <div class="container" style="margin:auto;max-width:400px">

        <img class="im" src="{{ url_for('static', filename='image/sicon2.jpg')}}" height="150" width="150">


        <div class="card">
          <div class="card-body">

              <label >Fullname :Superadmin </label><br>
              <label >Emailadd  :  </label><br>
              <label >Password  : </label><br>


          </div>
                 </div>


    </div>

 <script src="static/js/jQuery.js"></script>
       <script src="static/js/bootstrap.min.js"></script>
       <script src="static/js/all.min.js"></script>

</body>
</html>